In [7]:
from excel_cleaner import clean_workbook

In [8]:
df = clean_workbook(
    "originals/Raw international financial data_FY22-25.xlsx",
    "FY25 Mar Est - Europe (2)",
    # {"Products"  : r"Product"},
)

Auto-detected LOBs: <bound method Series.unique of 21     Production
24             HV
26             HV
28             HV
29             HV
          ...
488    Themed Ent
490    Themed Ent
491    Themed Ent
495    Themed Ent
496    Themed Ent
Name: Sub Dept, Length: 311, dtype: object>

/Users/idinu/Documents/Work/Sesame/deliverables/jess-lob/excel_cleaner.py:128: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat([df.loc[~m], row.to_frame().T], ignore_index=True)
/Users/idinu/Documents/Work/Sesame/deliverables/jess-lob/excel_cleaner.py:128: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat([df.loc[~m], row.to_frame().T], ignore_index=True)

In [9]:
df

,Region,LOB,Combined SW #,Partner,Category,Primary territory,Start date,End date,Bracket,Lifecycle,High / Med/Low touch,Details,Net revenue,0-25K,26-49K,50-100K,101-249K,250-499K,500+
0,EUROPE,Production,TBD1,Warner,Production,Europe,NaT,NaT,0-25K,,,,5,1,0,0,0,0,0
1,EUROPE,HV,FX Gain(Loss),FX Gain(Loss),Home Video,Germany,2014-07-01,2015-06-30,0-25K,,,,1,1,0,0,0,0,0
2,EUROPE,HV,13003,Sony Music,Streaming Audio,Germany,2023-01-01,2029-01-31,26-49K,,,,32,0,1,0,0,0,0
3,EUROPE,HV,13498,Fox & Sheep,Streaming Audio,Germany,2024-04-01,2028-03-31,0-25K,,,,5,1,0,0,0,0,0
4,EUROPE,HV,13679,Sony Music,Streaming Audio,Germany,2024-08-01,2029-12-31,26-49K,,,,38,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,EUROPE,Name and Likeness,13825,ON,Promotion,Europe,2024-12-01,2025-08-31,50-100K,,,,71,0,0,1,0,0,0
165,EUROPE,Themed Ent,TBD1,Alton Towers - Cbeebiesland - Royalty,Promotion,United Kingdom,NaT,NaT,0-25K,,,,9,1,0,0,0,0,0
166,EUROPE,Themed Ent,11590,Port Aventura - Merch,Family Entertainment,Spain,2019-01-01,2031-12-31,101-249K,,,,223,0,0,0,1,0,0
167,EUROPE,Themed Ent,12738,Ballinstadt - Exhibition Fee,Exhibit,Germany,2022-05-01,2025-02-28,0-25K,,,,5,1,0,0,0,0,0
168,EUROPE,Themed Ent,13525,Alton Towers - Cbeebiesland - Flat Fee,Promotion,United Kingdom,2024-01-01,2024-12-31,0-25K,,,,19,1,0,0,0,0,0

In [10]:
df.groupby("LOB").agg(
    {"Net revenue": "sum", "Combined SW #": "count"})

                  Net revenue  Combined SW #
LOB
HV                         76              4
Interactive                31              6
Name and Likeness          71              1
Production                  5              1
Products                 1573            128
Publishing                121             15
Streaming                 239             10
Themed Ent                256              4